(
  default: "name",
  fields: {
    "name": (
      name: "Series Name"
    ),
    "author": (
      name: "Author"
    ),
    "year": (
        name: "Year"
    ),
    "status": (
      name: "Scan Status",
      values: Some([
        (
          title: "Any"
        ),
        (
          title: "Cancelled",
          value: Some("Cancelled")
        ),
        (
          title: "Complete",
          value: Some("Complete")
        ),
        (
          title: "Discontinued",
          value: Some("Discontinued")
        ),
        (
          title: "Hiatus",
          value: Some("Hiatus")
        ),
        (
          title: "Ongoing",
          value: Some("Ongoing")
        )
      ])
    ),
    "pstatus": (
      name: "Publish Status",
      values: Some([
        (
          title: "Any"
        ),
        (
          title: "Cancelled",
          value: Some("Cancelled")
        ),
        (
          title: "Complete",
          value: Some("Complete")
        ),
        (
          title: "Discontinued",
          value: Some("Discontinued")
        ),
        (
          title: "Hiatus",
          value: Some("Hiatus")
        ),
        (
          title: "Ongoing",
          value: Some("Ongoing")
        )
      ])
    ),
    "sort": (
      name: "Sort By",
      values: Some([
        (
          title: "Alphabetical A-Z",
          value: Some("s"),
          related: Some({
            "desc": "false"
          })
        ),
        (
          title: "Alphabetical Z-A",
          value: Some("s"),
          related: Some({
            "desc": "true"
          })
        ),
        (
          title: "Recently Released Chapter",
          value: Some("lt"),
          related: Some({
            "desc": "true"
          })
        ),
        (
          title: "Year Released - Newest",
          value: Some("y"),
          related: Some({
            "desc": "true"
          })
        ),
        (
          title: "Year Released - Oldest",
          value: Some("y"),
          related: Some({
            "desc": "false"
          })
        ),
        (
          title: "Most Popular (All Time)",
          value: Some("v"),
          related: Some({
            "desc": "true"
          })
        ),
        (
          title: "Most Popular (Monthly)",
          value: Some("vm"),
          related: Some({
            "desc": "true"
          })
        ),
        (
          title: "Least Popular",
          value: Some("v"),
          related: Some({
            "desc": "false"
          })
        )
      ])
    ),
    "official": (
      name: "Official Translation",
      values: Some([
        (
          title: "Any"
        ),
        (
          title: "Official Translation Only",
          value: Some("yes")
        )
      ])
    ),
    "type": (
      name: "Types",
      values: Some([
        (
          title: "Any"
        ),
        (
          title: "Doujinshi",
          value: Some("Doujinshi")
        ),
        (
          title: "Manga",
          value: Some("Manga")
        ),
        (
          title: "Manhua",
          value: Some("Manhua")
        ),
        (
          title: "Manhwa",
          value: Some("Manhwa")
        ),
        (
          title: "OEL",
          value: Some("OEL")
        ),
        (
          title: "One-shot",
          value: Some("One-shot")
        ),
      ])
    ),
    "genre": (
      name: "Genres",
      values: Some([
        (
          title: "Any"
        ),
        (
          title: "Action",
          value: Some("Action")
        ),
        (
          title: "Adult",
          value: Some("Adult")
        ),
        (
          title: "Adventure",
          value: Some("Adventure")
        ),
        (
          title: "Comedy",
          value: Some("Comedy")
        ),
        (
          title: "Doujinshi",
          value: Some("Doujinshi")
        ),
        (
          title: "Drama",
          value: Some("Drama")
        ),
        (
          title: "Ecchi",
          value: Some("Ecchi")
        ),
        (
          title: "Fantasy",
          value: Some("Fantasy")
        ),
        (
          title: "Gender Bender",
          value: Some("Gender Bender")
        ),
        (
          title: "Harem",
          value: Some("Harem")
        ),
        (
          title: "Hentai",
          value: Some("Hentai")
        ),
        (
          title: "Historical",
          value: Some("Historical")
        ),
        (
          title: "Horror",
          value: Some("Horror")
        ),
        (
          title: "Isekai",
          value: Some("Isekai")
        ),
        (
          title: "Josei",
          value: Some("Josei")
        ),
        (
          title: "Lolicon",
          value: Some("Lolicon")
        ),
        (
          title: "Martial Arts",
          value: Some("Martial Arts")
        ),
        (
          title: "Mature",
          value: Some("Mature")
        ),
        (
          title: "Mecha",
          value: Some("Mecha")
        ),
        (
          title: "Mystery",
          value: Some("Mystery")
        ),
        (
          title: "Psychological",
          value: Some("Psychological")
        ),
        (
          title: "Romance",
          value: Some("Romance")
        ),
        (
          title: "School Life",
          value: Some("School Life")
        ),
        (
          title: "Sci-fi",
          value: Some("Sci-fi")
        ),
        (
          title: "Seinen",
          value: Some("Seinen")
        ),
        (
          title: "Seinen Supernatural",
          value: Some("Seinen Supernatural")
        ),
        (
          title: "Shotacon",
          value: Some("Shotacon")
        ),
        (
          title: "Shoujo",
          value: Some("Shoujo")
        ),
        (
          title: "Shoujo Ai",
          value: Some("Shoujo Ai")
        ),
        (
          title: "Shounen",
          value: Some("Shounen")
        ),
        (
          title: "Shounen Ai",
          value: Some("Shounen Ai")
        ),
        (
          title: "Slice of Life",
          value: Some("Slice of Life")
        ),
        (
          title: "Smut",
          value: Some("Smut")
        ),
        (
          title: "Sports",
          value: Some("Sports")
        ),
        (
          title: "Supernatural",
          value: Some("Supernatural")
        ),
        (
          title: "Tragedy",
          value: Some("Tragedy")
        ),
        (
          title: "Yaoi",
          value: Some("Yaoi")
        ),
        (
          title: "Yuri",
          value: Some("Yuri")
        )
      ]),
      multi: true
    ),
    "genreNo": (
      name: "Genres",
      values: Some([
        (
          title: "Any"
        ),
        (
          title: "Action",
          value: Some("Action")
        ),
        (
          title: "Adult",
          value: Some("Adult")
        ),
        (
          title: "Adventure",
          value: Some("Adventure")
        ),
        (
          title: "Comedy",
          value: Some("Comedy")
        ),
        (
          title: "Doujinshi",
          value: Some("Doujinshi")
        ),
        (
          title: "Drama",
          value: Some("Drama")
        ),
        (
          title: "Ecchi",
          value: Some("Ecchi")
        ),
        (
          title: "Fantasy",
          value: Some("Fantasy")
        ),
        (
          title: "Gender Bender",
          value: Some("Gender Bender")
        ),
        (
          title: "Harem",
          value: Some("Harem")
        ),
        (
          title: "Hentai",
          value: Some("Hentai")
        ),
        (
          title: "Historical",
          value: Some("Historical")
        ),
        (
          title: "Horror",
          value: Some("Horror")
        ),
        (
          title: "Isekai",
          value: Some("Isekai")
        ),
        (
          title: "Josei",
          value: Some("Josei")
        ),
        (
          title: "Lolicon",
          value: Some("Lolicon")
        ),
        (
          title: "Martial Arts",
          value: Some("Martial Arts")
        ),
        (
          title: "Mature",
          value: Some("Mature")
        ),
        (
          title: "Mecha",
          value: Some("Mecha")
        ),
        (
          title: "Mystery",
          value: Some("Mystery")
        ),
        (
          title: "Psychological",
          value: Some("Psychological")
        ),
        (
          title: "Romance",
          value: Some("Romance")
        ),
        (
          title: "School Life",
          value: Some("School Life")
        ),
        (
          title: "Sci-fi",
          value: Some("Sci-fi")
        ),
        (
          title: "Seinen",
          value: Some("Seinen")
        ),
        (
          title: "Seinen Supernatural",
          value: Some("Seinen Supernatural")
        ),
        (
          title: "Shotacon",
          value: Some("Shotacon")
        ),
        (
          title: "Shoujo",
          value: Some("Shoujo")
        ),
        (
          title: "Shoujo Ai",
          value: Some("Shoujo Ai")
        ),
        (
          title: "Shounen",
          value: Some("Shounen")
        ),
        (
          title: "Shounen Ai",
          value: Some("Shounen Ai")
        ),
        (
          title: "Slice of Life",
          value: Some("Slice of Life")
        ),
        (
          title: "Smut",
          value: Some("Smut")
        ),
        (
          title: "Sports",
          value: Some("Sports")
        ),
        (
          title: "Supernatural",
          value: Some("Supernatural")
        ),
        (
          title: "Tragedy",
          value: Some("Tragedy")
        ),
        (
          title: "Yaoi",
          value: Some("Yaoi")
        ),
        (
          title: "Yuri",
          value: Some("Yuri")
        )
      ]),
      multi: true
    )
  }
)